 .mb-3{
     width: 35%;
     margin: auto;
     margin-top: 5%;
 }

 .btn{     
     margin-top: 10%;
 }

 .row{
     width: 35%;
     margin: auto;
     margin-top: 5%;
 }

 .layout-image{
     width: 100%;
    
     
     
     
 }

 .col-md-2{
     
     margin: auto;

 }

.tituloSalas{
    width: 30%;
    height: 30%;
    border-style: solid;
    margin: auto;
    color:red;
}

.salas{
    width: 50%;
    height: 50%;
    border-style: solid;
    margin: auto;
    color: blue;
}


.tablero tr td{
    width: 30px;
    height: 30px;
    border: 1px solid #000;
}