body{
    font-family: "Fredoka", Helvetica, sans-serif;
    background-image: url(../assets/testbg3.gif);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #212529;
}
.footer-menu__link{
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.08em;
    line-height: 110%;
    cursor: pointer;
    color: #212529;
}
.fw-medium{
    font-weight: 500;
}
.bg-white-opal{
    background-color: whitesmoke;
}